In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [21]:
train = pd.read_csv("./input/train.csv")
test = pd.read_csv("./input/test.csv")

In [22]:
train.shape
train.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [23]:
train["Age"].fillna(train["Age"].mean(), inplace=True)
train["Cabin"].fillna("N", inplace=True)
train["Embarked"].fillna("N", inplace=True)

In [24]:
train["Cabin"] = train["Cabin"].str[:1]

In [25]:
from sklearn import preprocessing

def endcode_features(dataDF):
    features = ["Cabin", "Sex", "Embarked"]
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(dataDF[feature])
        dataDF[feature] = le.transform(dataDF[feature])
    return dataDF

train = endcode_features(train)
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,7,3
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,2,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,7,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,2,3
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,7,3

In [26]:
def fillna(df):
    df["Age"].fillna(train["Age"].mean(), inplace=True)
    df["Cabin"].fillna("N", inplace=True)
    df["Embarked"].fillna("N", inplace=True)
    df["Fare"].fillna(0, inplace=True)
    return df

In [27]:
def drop_features(df):
    df.drop(["PassengerId", "Name", "Ticket"], axis=1, inplace=True)
    return df

In [28]:
def format_features(df):
    df["Cabin"] = df["Cabin"].str[:1]
    features = ["Cabin", "Sex", "Embarked"]
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(df[feature])
        df[feature] = le.transform(df[feature])
    return df

In [29]:
def transform_features(df):
    df = fillna(df)
    df = drop_features(df)
    df = format_features(df)
    return df

In [30]:
train = pd.read_csv("./input/train.csv")
test = pd.read_csv("./input/test.csv")

In [31]:
x = train.drop(columns=["Survived"], axis=1)
y = train["Survived"]

x = transform_features(x)

In [33]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=11)

In [35]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
import xgboost as xgb
import lightgbm as lgb

from sklearn.metrics import accuracy_score

In [38]:
dt = DecisionTreeClassifier(random_state=11)
rf = RandomForestClassifier(random_state=11)
lr = LogisticRegression()

In [40]:
dt.fit(x_train, y_train)
dt_pred = dt.predict(x_test)
print("DecisionTree 정확도: {0: .4f}".format(accuracy_score(y_test, dt_pred)))

DecisionTree 정확도:  0.7877

In [41]:
rf.fit(x_train, y_train)
rf_pred = rf.predict(x_test)
print("RandomForest정확도: {0: .4f}".format(accuracy_score(y_test, rf_pred)))

RandomForest정확도:  0.8324

/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [42]:
lr.fit(x_train, y_train)
lr_pred = lr.predict(x_test)
print("LogisticRegression 정확도: {0: .4f}".format(accuracy_score(y_test, lr_pred)))

LogisticRegression 정확도:  0.8659

/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)