In [735]:
import pandas as pd

In [736]:
train = pd.read_csv("./input/train.csv")
test = pd.read_csv("./input/test.csv")

In [737]:
train.shape

(891, 12)

In [738]:
train_for_age = train[train["Age"].notnull()]

In [739]:
train_for_age.shape

(714, 12)

In [740]:
test.shape

(418, 11)

In [741]:
test_for_age = test[test["Age"].notnull()]

In [742]:
test_for_age.shape

(332, 11)

In [743]:
data_for_age = pd.concat([train_for_age.drop(["Survived"], axis=1), test_for_age])

In [744]:
data_for_age.shape

(1046, 11)

In [745]:
data_for_age["Embarked"].value_counts()

S    782
C    212
Q     50
Name: Embarked, dtype: int64

In [746]:
data_for_age["Embarked"].fillna("S", inplace=True)

In [747]:
data_for_age = pd.get_dummies(data_for_age, columns=["Sex", "Embarked"])

In [748]:
data_for_age.corr()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
PassengerId,1.000000,-0.064097,0.028814,-0.050700,-0.021096,0.047938,-0.000601,0.000601,0.058706,0.028537,-0.068517
Pclass,-0.064097,1.000000,-0.408106,0.047221,0.017224,-0.565255,-0.144695,0.144695,-0.316627,0.152517,0.218661
Age,0.028814,-0.408106,1.000000,-0.243699,-0.150917,0.178740,-0.063645,0.063645,0.085777,-0.019458,-0.070001
SibSp,-0.050700,0.047221,-0.243699,1.000000,0.374456,0.141184,0.095267,-0.095267,-0.045930,0.004210,0.040539
Parch,-0.021096,0.017224,-0.150917,0.374456,1.000000,0.216723,0.221144,-0.221144,0.002330,-0.048223,0.021583
Fare,0.047938,-0.565255,0.178740,0.141184,0.216723,1.000000,0.187930,-0.187930,0.324103,-0.083622,-0.259526
Sex_female,-0.000601,-0.144695,-0.063645,0.095267,0.221144,0.187930,1.000000,-1.000000,0.095321,0.050587,-0.113344
Sex_male,0.000601,0.144695,0.063645,-0.095267,-0.221144,-0.187930,-1.000000,1.000000,-0.095321,-0.050587,0.113344
Embarked_C,0.058706,-0.316627,0.085777,-0.045930,0.002330,0.324103,0.095321,-0.095321,1.000000,-0.112964,-0.872152
Embarked_Q,0.028537,0.152517,-0.019458,0.004210,-0.048223,-0.083622,0.050587,-0.050587,-0.112964,1.000000,-0.387581
Embarked_S,-0.068517,0.218661,-0.070001,0.040539,0.021583,-0.259526,-0.113344,0.113344,-0.872152,-0.387581,1.000000

In [749]:
data_for_age["Fare"].fillna(13, inplace=True)

In [750]:
from sklearn.linear_model import LinearRegression

In [751]:
lr = LinearRegression()

In [752]:
x_age = data_for_age[["Pclass", "Fare", "Embarked_C", "Embarked_S"]]
y_age = data_for_age["Age"]

In [753]:
lr.fit(x_age, y_age)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [754]:
x_age_test = train[train["Age"].isnull()]
x_age_test.shape

(177, 12)

In [755]:
x_age_test = pd.get_dummies(x_age_test, columns=["Sex", "Embarked"])

In [756]:
age_predict = lr.predict(x_age_test[["Pclass", "Fare", "Embarked_C", "Embarked_S"]])

In [757]:
age_predict
len(age_predict)
age_predict.round()

array([27., 32., 23., 23., 27., 24., 36., 27., 23., 23., 24., 27., 27.,
       23., 40., 39., 23., 24., 24., 27., 24., 24., 24., 24., 27., 24.,
       27., 23., 23., 24., 24., 23., 39., 40., 24., 23., 31., 39., 27.,
       27., 27., 23., 27., 24., 24., 24., 23., 27., 24., 38., 27., 27.,
       40., 27., 32., 40., 39., 40., 27., 27., 35., 24., 37., 23., 27.,
       38., 24., 24., 40., 23., 27., 27., 27., 23., 27., 38., 24., 27.,
       24., 24., 27., 32., 24., 23., 24., 27., 24., 24., 24., 24., 39.,
       27., 24., 32., 27., 24., 39., 32., 24., 24., 23., 24., 27., 40.,
       24., 27., 23., 23., 36., 23., 23., 24., 31., 27., 35., 27., 24.,
       24., 23., 27., 23., 23., 24., 27., 32., 23., 24., 40., 24., 27.,
       27., 27., 40., 24., 23., 24., 24., 27., 24., 24., 39., 32., 27.,
       23., 27., 23., 40., 27., 27., 32., 24., 24., 40., 24., 38., 27.,
       23., 27., 27., 24., 27., 23., 39., 40., 27., 23., 27., 23., 24.,
       39., 23., 37., 23., 23., 24., 24., 24.])

In [758]:
train_age_no = train[train["Age"].isnull()]
train_age_yes = train[train["Age"].notnull()]

In [759]:
train_age_no = train_age_no.drop(["Age"], axis=1)

In [760]:
train_age_no["Age"] = age_predict.round()

In [761]:
train = pd.concat([train_age_yes, train_age_no])

/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [762]:
train.corr()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived
Age,1.000000,0.116251,-0.180120,0.034475,-0.408499,-0.252788,-0.044684
Fare,0.116251,1.000000,0.216225,0.012658,-0.549500,0.159651,0.257307
Parch,-0.180120,0.216225,1.000000,-0.001652,0.018443,0.414838,0.081629
PassengerId,0.034475,0.012658,-0.001652,1.000000,-0.035144,-0.057527,-0.005007
Pclass,-0.408499,-0.549500,0.018443,-0.035144,1.000000,0.083081,-0.338481
SibSp,-0.252788,0.159651,0.414838,-0.057527,0.083081,1.000000,-0.035322
Survived,-0.044684,0.257307,0.081629,-0.005007,-0.338481,-0.035322,1.000000

In [763]:
train = pd.get_dummies(train, columns=["Embarked", "Sex"])

In [764]:
train.corr()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
Age,1.000000,0.116251,-0.180120,0.034475,-0.408499,-0.252788,-0.044684,0.029788,-0.041474,-0.007832,-0.077145,0.077145
Fare,0.116251,1.000000,0.216225,0.012658,-0.549500,0.159651,0.257307,0.269335,-0.117216,-0.166603,0.182333,-0.182333
Parch,-0.180120,0.216225,1.000000,-0.001652,0.018443,0.414838,0.081629,-0.011069,-0.081228,0.063036,0.245489,-0.245489
PassengerId,0.034475,0.012658,-0.001652,1.000000,-0.035144,-0.057527,-0.005007,-0.001205,-0.033606,0.022148,-0.042939,0.042939
Pclass,-0.408499,-0.549500,0.018443,-0.035144,1.000000,0.083081,-0.338481,-0.243292,0.221009,0.081720,-0.131900,0.131900
SibSp,-0.252788,0.159651,0.414838,-0.057527,0.083081,1.000000,-0.035322,-0.059528,-0.026354,0.070941,0.114631,-0.114631
Survived,-0.044684,0.257307,0.081629,-0.005007,-0.338481,-0.035322,1.000000,0.168240,0.003650,-0.155660,0.543351,-0.543351
Embarked_C,0.029788,0.269335,-0.011069,-0.001205,-0.243292,-0.059528,0.168240,1.000000,-0.148258,-0.778359,0.082853,-0.082853
Embarked_Q,-0.041474,-0.117216,-0.081228,-0.033606,0.221009,-0.026354,0.003650,-0.148258,1.000000,-0.496624,0.074115,-0.074115
Embarked_S,-0.007832,-0.166603,0.063036,0.022148,0.081720,0.070941,-0.155660,-0.778359,-0.496624,1.000000,-0.125722,0.125722
Sex_female,-0.077145,0.182333,0.245489,-0.042939,-0.131900,0.114631,0.543351,0.082853,0.074115,-0.125722,1.000000,-1.000000
Sex_male,0.077145,-0.182333,-0.245489,0.042939,0.131900,-0.114631,-0.543351,-0.082853,-0.074115,0.125722,-1.000000,1.000000

In [765]:
test["Fare"].fillna(13, inplace=True)

In [766]:
test = pd.get_dummies(test, columns=["Sex", "Embarked"])

In [767]:
test_no_age = test[test["Age"].isnull()]
test_yes_age = test[test["Age"].notnull()]

In [768]:
age_predict_test = lr.predict(test_no_age[["Pclass", "Fare", "Embarked_C", "Embarked_S"]])

In [769]:
test_no_age = test_no_age.drop(["Age"], axis=1)
test_no_age["Age"] = age_predict_test

In [770]:
test = pd.concat([test_no_age, test_yes_age])

/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [771]:
test.isnull().sum()

Age              0
Cabin          327
Embarked_C       0
Embarked_Q       0
Embarked_S       0
Fare             0
Name             0
Parch            0
PassengerId      0
Pclass           0
Sex_female       0
Sex_male         0
SibSp            0
Ticket           0
dtype: int64

In [772]:
train.corr()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
Age,1.000000,0.116251,-0.180120,0.034475,-0.408499,-0.252788,-0.044684,0.029788,-0.041474,-0.007832,-0.077145,0.077145
Fare,0.116251,1.000000,0.216225,0.012658,-0.549500,0.159651,0.257307,0.269335,-0.117216,-0.166603,0.182333,-0.182333
Parch,-0.180120,0.216225,1.000000,-0.001652,0.018443,0.414838,0.081629,-0.011069,-0.081228,0.063036,0.245489,-0.245489
PassengerId,0.034475,0.012658,-0.001652,1.000000,-0.035144,-0.057527,-0.005007,-0.001205,-0.033606,0.022148,-0.042939,0.042939
Pclass,-0.408499,-0.549500,0.018443,-0.035144,1.000000,0.083081,-0.338481,-0.243292,0.221009,0.081720,-0.131900,0.131900
SibSp,-0.252788,0.159651,0.414838,-0.057527,0.083081,1.000000,-0.035322,-0.059528,-0.026354,0.070941,0.114631,-0.114631
Survived,-0.044684,0.257307,0.081629,-0.005007,-0.338481,-0.035322,1.000000,0.168240,0.003650,-0.155660,0.543351,-0.543351
Embarked_C,0.029788,0.269335,-0.011069,-0.001205,-0.243292,-0.059528,0.168240,1.000000,-0.148258,-0.778359,0.082853,-0.082853
Embarked_Q,-0.041474,-0.117216,-0.081228,-0.033606,0.221009,-0.026354,0.003650,-0.148258,1.000000,-0.496624,0.074115,-0.074115
Embarked_S,-0.007832,-0.166603,0.063036,0.022148,0.081720,0.070941,-0.155660,-0.778359,-0.496624,1.000000,-0.125722,0.125722
Sex_female,-0.077145,0.182333,0.245489,-0.042939,-0.131900,0.114631,0.543351,0.082853,0.074115,-0.125722,1.000000,-1.000000
Sex_male,0.077145,-0.182333,-0.245489,0.042939,0.131900,-0.114631,-0.543351,-0.082853,-0.074115,0.125722,-1.000000,1.000000

In [1]:
x = train[["Fare", "Pclass", "Sex_female", "Sex_male"]]
y = train["Survived"]

NameError: name 'train' is not defined

In [2]:
import numpy as np

In [775]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression
ml = LogisticRegression(solver='lbfgs')

In [776]:
lf = RandomForestClassifier()
lf.fit(x, y)
scoring = 'accuracy'
score = cross_val_score(lf, x, y, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

round(np.mean(score)*100, 2)

[0.85555556 0.7752809  0.78651685 0.82022472 0.75280899 0.76404494
 0.78651685 0.85393258 0.8988764  0.88764045]

/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

81.81

In [777]:
x_test = test[["Fare", "Pclass", "Sex_female", "Sex_male"]]
submission = lf.predict(x_test)
submission = pd.DataFrame({
    "PassengerId": test["PassengerId"],
    "Survived": submission
})
submission.to_csv('submission0314FinalForest.csv', index=False)

In [725]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

scoring = 'accuracy'
score = cross_val_score(lf, x, y, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

round(np.mean(score)*100, 2)

[0.87777778 0.7752809  0.80898876 0.80898876 0.75280899 0.75280899
 0.82022472 0.84269663 0.87640449 0.87640449]

81.92

In [726]:
lf = RandomForestClassifier()
lf.fit(x, y)
scoring = 'accuracy'
score = cross_val_score(lf, x, y, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

round(np.mean(score)*100, 2)

[0.84444444 0.7752809  0.78651685 0.83146067 0.75280899 0.79775281
 0.83146067 0.82022472 0.88764045 0.83146067]

/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

81.59

In [727]:
lf = KNeighborsClassifier()
lf.fit(x, y)
scoring = 'accuracy'
score = cross_val_score(lf, x, y, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

round(np.mean(score)*100, 2)

[0.8        0.65168539 0.7752809  0.73033708 0.76404494 0.74157303
 0.71910112 0.78651685 0.79775281 0.86516854]

76.31

In [728]:
lf = DecisionTreeClassifier()
lf.fit(x, y)
scoring = 'accuracy'
score = cross_val_score(lf, x, y, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

round(np.mean(score)*100, 2)

[0.87777778 0.80898876 0.76404494 0.79775281 0.78651685 0.74157303
 0.83146067 0.83146067 0.85393258 0.8988764 ]

81.92

In [729]:
lf = GaussianNB()
lf.fit(x, y)
scoring = 'accuracy'
score = cross_val_score(lf, x, y, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

round(np.mean(score)*100, 2)

[0.8        0.74157303 0.7752809  0.7752809  0.78651685 0.7752809
 0.68539326 0.79775281 0.83146067 0.84269663]

78.11

In [730]:
lf = SVC()
lf.fit(x, y)
scoring = 'accuracy'
score = cross_val_score(lf, x, y, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

round(np.mean(score)*100, 2)

[0.82222222 0.74157303 0.80898876 0.74157303 0.75280899 0.80898876
 0.70786517 0.84269663 0.82022472 0.86516854]

/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

79.12

In [731]:
lf = DecisionTreeClassifier()
lf.fit(x, y)
scoring = 'accuracy'
score = cross_val_score(lf, x, y, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

round(np.mean(score)*100, 2)

[0.87777778 0.80898876 0.76404494 0.79775281 0.78651685 0.74157303
 0.83146067 0.83146067 0.85393258 0.8988764 ]

81.92

In [732]:
lf = LogisticRegression()
lf.fit(x, y)
scoring = 'accuracy'
score = cross_val_score(lf, x, y, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

round(np.mean(score)*100, 2)

[0.81111111 0.76404494 0.7752809  0.7752809  0.79775281 0.7752809
 0.6741573  0.79775281 0.83146067 0.83146067]

/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

78.34

In [733]:
lf = RandomForestClassifier()
lf.fit(x, y)

/Users/skyepodium/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [718]:
x_test = test[["Fare", "Pclass", "Sex_female", "Sex_male"]]
submission = lf.predict(x_test)
submission = pd.DataFrame({
    "PassengerId": test["PassengerId"],
    "Survived": submission
})
submission.to_csv('submission0314newRandomForest.csv', index=False)